.myDiv {
background-color: sandybrown;
}

#my-main-title {
   color: blueviolet;
   font-style: italic;
}
.yussi{
   color:rosybrown;
   font-style:oblique;
}
.Manu{
   background-color: aquamarine;
   font-weight: bolder;
}
#small-text {
   color: aquamarine;
   background-color: blueviolet;

}